<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style/reviewsTemplateStyle.css}">
    <link rel="stylesheet" th:href="@{css/layout/reviewsTemplateLayout.css}">
    <title>Acquisitions, Inc.</title>
</head>
<body>
    <header>
        <h1>Acquisition, Inc. Reviews</h1>
    </header>
    <main>
        <div>
            <ul>
                <li th:each="review: ${reviewsModel}"><p th:text="'[' + ${review.reviewCategory} + '] '">Review Category ...</p><a th:href="@{/review(id=${review.id})}" th:text="${review.title}">Review Title ...</a></li>
            </ul>
        </div>    
    </main>
</body>
<footer>
    <h7>Acquisitions, Inc. 2022</h7>
</footer>
</html>